.btn {
    font-family: 'Inter', sans-serif;
    padding: 23px 95px;
    background: $primary;
    border-radius: 5px;
    color: $white;
    border: none;
    text-transform: uppercase;

    // &:hover {
    //     color: #000000;
    //     background: #FFFFFF;
    //     border: 1px solid #000000;
    // }
}