@media (max-width: 1599px) {
    .container {
        max-width: 1230px;
    }
    .header {
        &__phones {
            margin-left: 3.3rem;
            font-size: 1.4rem;
        }
    }
    .nav {
        &__item + &__item {
            margin-left: 3rem;
        }

        &__link {
            font-size: 1.4rem;
        }
    }
    .address {
        top: 55%;
        font-size: 1.4rem;
    }

    .hero {
        &__left {
            max-width: 540px;
        }
    }

    .services {
        &__wrapper {
            gap: 6rem 2.8rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "left-top left-top"
            "third sixth";
        }

        .fourth-element,
        .fifth-element {
            display: none;
        }

        &__left-top-wrapper {
            gap: 3rem;
            &::after {
                bottom: -3rem;
            }
        }
        &__item {
            max-width: 586px;
            min-height: 0px;
        }
        &__item-text {
            min-height: 20px;
        }
        img {
            max-width: 100%;
        }
        
    }

    .about {
        &__wrapper {
            gap: 2.4rem;
        }

        &__text {
            margin-top: 3rem;
        }
    }

    .our-objects {
        &__wrapper {
            gap: 2.8rem;
        }
        .title--h4 {
            font-size: 1.7rem;
        }
        &__slider {
            width: 584px;
        }
        &__slide-name {
            font-size: 1.7rem;
        }
        &__content {
            height: auto;
        }
        &__text {
            margin: 2rem 0 4.5rem 0;
        }
        &__dots {
            left: 51%;
        }
    }

    .partners {
        &__wrapper {
            gap: 3rem 2.8rem;
            &::after {
                width: 586px;
            }
        }
        &__block {
            max-width: 586px;
        }
        &__block {
            &:nth-child(even) {
                max-width: 586px;
            }
        }
    }

    .licence {
        &__wrapper {
            flex-direction: column;
        }
        &__images {
            align-self: flex-end;
        }
    }

    // .footer {
    //     &__wrapper {
    //         flex-wrap: wrap;
    //     }
    //     &__logo {
    //         flex-grow: 1;
    //     }
    //     &__contacts {
            
    //     }
    //     &__phones {

    //     }
    // }

}

@media (max-width: 1230px) {
    .header {
        &__logo {
            img {
                max-width: 262px;
            }     
        }
        &__phones {
            padding-top: 2.5rem;
            margin-left: 2.8rem;
            font-size: 1.4rem;
        }
    }
    .nav {
        padding-top: 2.5rem;
        &__item + &__item {
            margin-left: 2.5rem;
        }
    }
    .address {
        top: 55%;
        font-size: 1.4rem;

        &__mail {
            margin-left: 1.2rem;
        }
    }

    .underhero {
        gap: 2.5rem;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .services {
        .title--h4 {
            min-height: 35px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            max-width: 586px;
            width: 100%;
            min-height: 360px;
            justify-content: space-between;
        }
        &__item-text {
            min-height: 100px;
        }
        .sixth-element {
            justify-content: flex-start;
        }
        
        img {
            margin-top: 0;
            height: 200px;
        }
    }

    .experts {
        &__wrapper {
            gap: 2.5rem;
        }
        &__item {
            img {
                margin-bottom: 2rem;
            }
        }
        &__text {
            margin-top: 2rem;
        }
        .title--h4 {
            font-size: 1.7rem;
        }
    }

    .our-objects {
        &__wrapper {
            gap: 2.4rem;
        }
        &__slider {
            width: 500px;
        }
        &__content {
            max-width: 507px;
        }
        &__text {
            font-size: 1.7rem;
        }
        &__dots {
            left: 524px;
        }
    }

    .partners {
        &__wrapper {
            gap: 3rem 2.4rem;
            &::after {
                display: none;
            }
        }
        &__block {
            max-width: 500px;
        }
        &__block {
            &:nth-child(even) {
                max-width: 500px;
            }
        } 
    }

    .licence {
        overflow: hidden;
        &__wrapper {
            flex-direction: row;

        }
        &__images {
            align-self: flex-end;
        }
    }
    
}

@media (max-width: 1060px) {
    .burger-menu {
        display: flex;
    }
    nav {
        display: none;
    }
    .header {
        &__phones {
            margin-right: 5.6rem;
        }
    }

    .hero {
        h1 {
            font-size: 4.4rem;
        }
        &__wrapper {
            justify-content: flex-start;
            align-items: center;
            gap: 3rem;
        }
        &__left {
            max-width: 100%;
        }
        &__block {
            align-items: center;
            justify-content: space-between;
            gap: 2.4rem;
        }
        &__text {
            max-width: 400px;
            font-size: 1.7rem;
            margin: 2.5rem 0;
        }
        .btn {
            font-size: 1.4rem;
        }
    }

    .services {
        .title--h3 {
            margin-bottom: 1.5rem;
        }
        .title--h4 {
            font-size: 1.4rem;
        }

        &__under {
            gap: 0;
        }
        &__item-text {
            font-size: 1.4rem;
            line-height: 121%;
        }
    }

    .experts {
        position: relative;
        &__wrapper {
            flex-wrap: wrap;
            gap: 2.4rem;
        }
        &__item {
            // min-width: 250px;
            max-width: 230px;
            font-size: 1.4rem;
        }
        &__item-abs {
            position: absolute;
            top: 38%;
            left: 0;
        }
    }

    .about {
        &__wrapper {
            height: 560px;
            position: relative;
            flex-direction: row-reverse;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $line;
            }
        }
        &__content {
            &::before {
                display: none;
            }
        }
        &__text {
            font-size: 1.7rem;
        }
        &__img {
            align-self: flex-end;
            max-width: 400px;
        }
        &__btn-arrow {
            bottom: 0;
        }
    }

    .our-objects {
        .title--h4 {
            font-size: 1.4rem;
        }
        &__slider {
            width: 348px;
        }
        &__slide-name {
            font-size: 1.4rem;
            min-height: 52px;
        }
        &__content {
            max-width: unset;
        }
        &__text {
            font-size: 1.4rem;
            margin: 2.5rem 0 9rem 0;
        }
        &__dots {
            left: 0%;
            bottom: -10%;
        }
        &__btn-arrow {
            width: 348px;
        }
    }

    .partners {
        &__wrapper {
            justify-content: space-around;
        }
        &__block {
            max-width: 348px;
            &--last {
                position: relative;
                &::after {         
                    content: '';
                    position: absolute;
                    bottom: -6.3rem;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $line;
                }
            }
        }
        &__block {
            &:nth-child(even) {
                max-width: 348px;
            }
            
        }
    }

    .licence {
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            width: 80%;
        }
        &__images {
            flex-wrap: nowrap;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        padding-bottom: 5rem;
        h1 {
            font-size: 4rem;
            margin-bottom: 1.5rem;
        }
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }
        &__block {
            display: flex;

        }
        &__text {
            margin: 0;
        }
        .btn {
            padding: 2.5rem 9.2rem;
            font-size: 1.7rem;
        }
    }

    .services {
        padding-bottom: 7rem;
        &__wrapper {
            display: grid;
            grid-template-areas: 
            "left-top left-top"
            "third fourth"
            "fifth sixth";
            gap: 6rem 2.4rem;
        }

        .fourth-element,
        .fifth-element {
            display: inherit;
        }
        &__item-btn {
            .services__item-text {
                display: none;
            }
            .services__item-alternate-text {
                display: block;
            }
        }
    }

}

@media (max-width: 767px) {
    .header {
        padding: 2rem 0 0.5rem 2.4rem;
        &__logo {
            img {
                max-width: 195px;
            }
        }
        &__phones {
            padding-top: 1.5rem;
            margin-left: 3.3rem;
        }
    }
    .burger-menu {
        top: 11px;
    }
    .menubox {
        padding: 6rem 4rem 2rem 2rem;
        &__item {
            padding: 2.5rem 4rem;
        }
    }
    .nav {
        &__item + &__item {
            margin-left: 3rem;
        }
    }

    .underhero {
        padding-bottom: 5rem;
    }

    .services {
        padding-bottom: 7rem;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            gap: 3rem;
        }
        .title--h3 {
            margin-bottom: 0;
        }
        .title--h4 {
            min-height: auto;
        }
        &__item {
            min-height: auto;
            gap: 1.5rem;
            justify-content: flex-start;
        }

        &__item-text {
            min-height: 0;
            margin: 0;
        }

        &__left-top-wrapper {
            flex-direction: column;
            &::after {
                bottom: -2rem;
            }
        }

        .sixth-element {
            min-height: 270px;
        }
    }

    .experts {
        .title--h4 {
            font-size: 1.4rem;
        }
        &__wrapper {
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            flex-wrap: nowrap;
        }
        &__item {
            min-width: 226px;
        }
        &__item-abs {
            position: inherit;
        }
    }

    .about {
        &__wrapper {
            flex-direction: column;
            min-height: 510px;
            align-items: center;
        }
        &__content {
            padding: 2.5rem 0;
        }
        &__text {
           margin-top: 1.5rem;
           font-size: 1.3rem;
        }
        &__img {
           position: absolute;
           top: 40%;
           left: 50%;
           transform: translateX(-50%);
           width: 400px;
        }
        &__btn-arrow {
            bottom: -15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .our-objects {
        .title--h4 {
            font-size: 1.3rem;
        }
        &__wrapper {
            margin-top: 2.5rem;
            gap: 2rem;
        }
        &__slider {
            width: 271px;
        }
        &__slide-name {
            font-size: 1.3rem;
        }
        &__text {
            font-size: 1.3rem;
            margin: 2.5rem 0 5rem 0;
        }
        &__dots {
            bottom: -15%;
        }
        &__btn-arrow {
            width: 271px;
            font-size: 1.4rem;
            padding: 1.4rem 0 1.4rem 1.4rem;
            svg {
                width: 1.8rem;
            }
        }
    }

    .partners {
        padding-bottom: 10rem;
        &__wrapper {
            justify-content: space-between;
        }
        &__block {
            max-width: 100%;
            gap: 1rem;
            &--last {
                &::after {         
                    bottom: -3rem;
                }
            }
        }
        &__block {
            &:nth-child(even) {
                max-width: 100%;
            }
        }
    }

    .licence {
        padding-bottom: 7rem;
        &__wrapper {
            flex-direction: row;
            gap: 2rem;
        }
        &__content {
            min-width: 372px;
        }

        &__text {
            margin-top: 3rem;
        }

        &__images {
            max-width: 500px;
            img {
                max-width: 221px;
            }
            a {
                
                &:hover {
                    transform: none;
                }
            }
        }
    }

    
}

@media (max-width: 640px) {
    .title--h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .title--h3 {
        font-size: 2.5rem;
    }
    .header {
        &__wrapper {
            justify-content: space-between;
        }
        &__phones {
            display: flex;
            flex-direction: column;
            margin-right: 4.6rem;
            margin-left: 1rem;
        }
    }
    .burger-menu {
        top: 21px;
    }
    .menubox {
        padding-top: 4rem;
        padding-right: 0.5rem;
        padding-left: 1rem;
        &__link {
            font-size: 1.6rem;
        }
    }
    .address {
        display: none;
        &__mail {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
    .address--mobile {
        display: block;
        position: absolute;
        left: 50px;
        top: 75%;
    }

    .hero {
        padding-bottom: 3.5rem;
        h1 {
            font-size: 2.8rem;
        }
        &__wrapper {
            display: flex;
            gap: 1.5rem;
        }
        &__block {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }
        .btn {
            padding: 2.5rem 9.2rem;
        }
    }

    .underhero {
        padding-bottom: 3.5rem;
        &__item {
            span {
                font-weight: 700;
                font-size: 1.7rem;
            }
        }
        &__text {
            font-size: 1.3rem;
        }
    }

    .about {
        &__img {
            max-width: 300px;
            top: 45%;
        }
        &__btn-arrow {
            bottom: -8%;
            left: 50%;
            transform: translateX(-50%);
            width: 271px;
        }
    }

    .our-objects {
        &__wrapper {
            flex-direction: column;
            gap: 2rem;
        }
        &__slider {
            width: 100%;
            margin-bottom: 4.7rem;
        }
        &__slide-name {
            min-height: 45px;
        }
        &__content {
            max-width: unset;
        }
        &__text {
            margin: 1.5rem 0 3rem 0;
        }
        &__dots {
            left: 50%;
            transform: translateX(-50%);
            top: 28%;
            li {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .partners {
        &__wrapper {
            justify-content: space-between;
        }
        &__block {
            max-width: 100%;
            gap: 1rem;

        }
        &__block {
            &:nth-child(even) {
                max-width: 100%;
            }
        }
        &__text,
        &__address,
        &__phone {
            font-size: 1.7rem;
        }
    }
    .licence {
        &__wrapper {
            flex-direction: column;
            gap: 1.5rem;
        }
        &__content {
            min-width: 100%;
        }
        &__text {
            font-size: 1.7rem;
        }
        &__images {
            max-width: 100%;
        }
    }
}

@media (max-width: 560px) {
    .our-objects {
        &__dots {
            top: 20%;
        }
    }
}

@media (max-width: 472px) {
    .our-objects {
        &__dots {
            top: 14%;
        }
    }
}

@media (max-width: 455px) {
    .container {
        padding: 0 2.5rem;
    }
    .title--h2 {
        font-size: 2.3rem;
        margin-bottom: 3rem !important;
    }
    .title--h3 {
        font-size: 2rem;
    }
    .header {
        &__wrapper {
            flex-direction: column;
        }
        &__phones {
            margin-right: 0;
            padding-top: 0.5rem;
            align-self: flex-end;
            a {
                font-size: 1.3rem;
            }
        }
    }
    .menubox {
        width: 80%;
    }

    .services {
        .sixth-element {
            min-height: 310px;
        }
        &__btn-arrow {
            width: 271px;
        }
    }

    .about {
        &__img {
            max-width: 271px;
            top: 52%;
        }
    }

    .our-objects {
        &__dots {
            top: 3%;
            left: 0;
            transform: translateX(0);
        }
    }

    .partners {
        padding-bottom: 10rem;
        &__wrapper {
            justify-content: space-between;
        }
        &__block {
            max-width: 100%;
            gap: 1rem;
        }
        &__block {
            &:nth-child(even) {
                max-width: 100%;
            }
        }
        &__text,
        &__address,
        &__phone {
            font-size: 1.7rem;
        }
    }
    
    .licence {
        &__text {
            margin-top: 2.5rem;
        }
        &__images {
            max-width: 101%;
        }
    }
}

@media (max-width: 376px) {
    .our-objects {
        &__dots {
            top: -10%;
        }
    }
}

@media (max-width: 346px) {
    .our-objects {
        &__dots {
            top: -15%;
        }
    }
}