<!-- ---
layout: default
title: licence
--- -->

<section class="licence">
    <div class="licence__wrapper">
        <div class="licence__content">
            <h3 class="title title--h3">Лицензия</h3>
            <p class="licence__text">Мы подтверждаем законность осуществляемой деятельности и качество выполняемой работы соответствующими документами.</p>
        </div>
        <div class="licence__images">
            <img src="assets/images/licence/licence-1.png" alt="Лицензия">
            <img src="assets/images/licence/licence-2.png" alt="Лицензия">
            <img src="assets/images/licence/licence-3.png" alt="Лицензия">
            <img src="assets/images/licence/licence-4.png" alt="Лицензия">
        </div>
    </div>
</section>