<!-- ---
layout: default
title: Partners
--- -->

<section class="partners">
    <h2 class="title title--h2">Наши филилалы <span class="primary-color">(партнеры)</span></h2>
    <div class="partners__wrapper">
        <div class="partners__block">
            <h3 class="title title--h3">ООО “Фай ТЕК 112”</h3>
            <p class="partners__text">Оказывает полный спектр услуг по противопожарной безопасности объектов по упрощенной системе налогооблажения.</p>
            <div class="partners__address">г. Москва, ул. Автозаводская, д.17, корп.3, офис 11</div>
            <div class="partners__phone">
                <a href="tel:+74965807475">+7(496)5807475</a>
            </div>
        </div>

        <div class="partners__block">
            <h3 class="title title--h3">ООО “Сфера”</h3>
            <p class="partners__text">Поставляет противопожарное оборудование на объекты различного типа и назначения. Всё оборудование сертифицировано.</p>
            <div class="partners__address">г .Москва, ул. Болотниковская, д.31</div>
            <div class="partners__phone">
                <a href="tel:+74955172990">+7(495)5172990</a>
            </div>
        </div>

        <div class="partners__block">
            <h3 class="title title--h3">ООО “Центр пожарной безопасности”</h3>
            <p class="partners__text">Оказывает услуги по обеспечению зданий и сооружений передовыми системами пожарной безопасности<span class="primary-color"> по Московской области и г.Пушкино.</span></p>
            <div class="partners__address">МО, г. Пушкино, Институтская улица, 12</div>
            <div class="partners__phone">
                <a href="tel:+79154764514">+79154764514</a>
            </div>
        </div>
        
        <div class="partners__block">
            <img src="assets/images/partners/partners-image.png" alt="Проверка безопасности">
        </div>
    </div>
</section>