<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
        <!-- Header -->
        {{> header }}

        <!-- Main -->
        <main class="main">
            <div class="container">
                {{> body }}
                {{> partners }}
                {{> licence }}
            </div>
        </main>

        <!-- Footer -->
        {{> footer }}
        
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.0/lightgallery.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
